<div class="container mt-4">
  <h1 class="my-4">Propostas ativas</h1>

  <% if current_user.role == "Professor" || current_user.role == "Teacher" %>
    <form class="form-inline">
      <%= form_tag themes_path, method: :get do %>
        <%= text_field_tag :query,
                            params[:query],
                            class: "form-control col-4 mr-2",
                            placeholder: "Pesquisar tema"
                            %>
        <button name="button" type="submit" class="btn btn-light">
          <i class="fas fa-search"></i>
        </button>
      <a href="/themes/new" class="btn btn-primary mx-2" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fa fa-plus" aria-hidden="true"></i>  Novo tema
      </a>  
      <% end %>
<!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLongTitle">Novo tema de redação</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5>Caro professor, insira a proposta de texto aqui</h5>
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
    </form>
  <% end%>
<!-- Button trigger modal -->

<!-- fim modal -->

<!-- temas ativos -->
  <br>
  <br>
  <div class="row">
    <%@themes.each do |theme| %>
      <% if theme.end_date >= Time.now %>
        <div class="card-theme col-lg-5 mx-2"> 
          <div class="card-lecture-infos mx-2" >
            <p>ID: <%= theme.id %> </p>
            <h2><%= theme.genre.capitalize %>: "<%= link_to"#{theme.title.capitalize}", theme_path(theme) %>"</h2>
<!--
            <h2>Título: <%= link_to"#{theme.title.capitalize}", theme_path(theme) %></h2>
            <h5>Gênero textual: <%= theme.genre.capitalize %></h5>
-->
            <div class="row mx-auto d-flex justify-content-space-between">
              <p>Data Inicial: <%= theme.start_date.strftime("%d/%m/%Y") %></p>
              &nbsp;&nbsp;
              <p class="text-success">Data final: <%= theme.end_date.strftime("%d/%m/%Y") %> </p>        
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<br>
<hr>
<h2 class="my-4">Propostas inativas</h2>
<br>

<div class="row">
    <%@themes.each do |theme| %>
      <% if theme.end_date < Time.now %>
        <div class="card-theme-inativo col-lg-5 mx-2"> 
          <div class="card-lecture-infos-inativo mx-2" >
            <p>ID: <%= theme.id %> </p>
            <h2><%= theme.genre.capitalize %>: "<%= link_to"#{theme.title.capitalize}", theme_path(theme) %>"</h2>
            <div class="row mx-auto d-flex justify-content-space-between">
              <p>Data Inicial: <%= theme.start_date.strftime("%d/%m/%Y") %></p>
              &nbsp;&nbsp;
              <p class="text-danger">Data final:  <%= theme.end_date.strftime("%d/%m/%Y") %> </p>        
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>