<div class="container">
  <a href="/" class="btn btn-primary btn-sm my-3">
    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Voltar para home
  </a>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
      <div class="form-login">
        <h2>Nova Proposta de Texto</h2>

        <div>Caro professor, insira a proposta de texto aqui</div>
                
        <%= simple_form_for(@theme) do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
             <%= f.input :genre, label: "Gênero textual",
                        required: true,
                        autofocus: true %>
            <%= f.input :title, label: "Título/ Tema",
                        required: true %>

            <div class="d-flex justify-content-between">            
              <%= f.input :start_date, label: "Data inicial",
                          as: :string,
                          :input_html => { :class => 'datepicker' },
                          required: true %>
              <br>
              <%= f.input :end_date, label: "Data final",
                          as: :string,
                          :input_html => { :class => 'datepicker' },
                          required: true %>
                                
              <br>
            </div>
            <%= f.input :photo, as: :file, label: "Incluir proposta" %>

          </div>
          <br>
          <div class="form-actions">
            <%= f.button :submit, "Enviar Proposta", class: "btn btn-success btn-sm"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
