<nav aria-label="breadcrumb ">
  <ol class="breadcrumb">
    <li class="breadcrumb-item ml-5">
      <a href="/">
        <span class="sr-only">Página inicial</span>
          <i class="icon fas fa-home"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
      <a href="/themes"> Minhas propostas </a>
    </li>
    <% if current_user.role == "Estudante" || current_user.role == "Student" %> 
      <li class="breadcrumb-item">
        <a href="/user/id/texts"> Meus textos </a>
      </li>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page">Nova proposta de texto</li>
  </ol>
</nav>
<div class="container mt-4">
  <h1 class="text-center">Proposta de redação</h1>

  <br>
  <div class="row justify-content-center">  
    <div class="card-theme col-lg-6"> 
      <div class="card-lecture-infos mx-2" >
        <h2> <%= @theme.genre.capitalize %>: "<%= @theme.title.capitalize %>"<h2>
        <div class="row mx-auto d-flex justify-content-space-between mb-2">
          <p>Data Inicial: <%= @theme.start_date.strftime("%d/%m/%Y") %></p>
          &nbsp;&nbsp;
          <p>Data final: <%= @theme.end_date.strftime("%d/%m/%Y") %> </p>        
        </div>  
            
        <% if current_user.role == "Teacher" || current_user.role == "Professor"  %>
          <div class="status-correction d-flex align-items-center justify-content-between">
            <div>
            <%= link_to "Apagar proposta", theme_url(@theme), method: :delete, data: { confirm: "Atenção! Deseja apagar sua proposta?" }, class: "a btn btn-light btn-sm mb-2" %>  
            <%= link_to "Editar proposta", edit_theme_url(@theme), class: "a btn btn-info btn-sm mb-2" %>
            </div>
            <div class="d-flex">
              <p class="mr-2" title="textos recebidos"><i class="far fa-file-alt text-primary"></i> <%= @theme.texts.count%> </p>
              <p><i class="fas fa-spell-check text-success" title="textos corrigidos"></i> <%= @theme.texts.where.not(grade:nil).count%></p>
            </div>
          </div>
        <% else%> 
          <%= link_to "Baixar proposta", @theme.photo, target: :_blank, class: "btn btn-light btn-sm" %>
          <%= link_to "Enviar texto", new_theme_text_url(@theme, @text), class: "a btn btn-info btn-sm" %> 
        <% end %>
      </div>
    </div>

    <div class="col-lg-7">
      <% if current_user.role == "Teacher" || current_user.role == "Professor"  %>
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
              <tr>
              <th class="col-6" scope="col">Estudante</th>
              <th class="col-3" scope="col">Correção</th>
              <th class="col-3" scope="col">Nota</th>
            </tr>
          </thead>
          <tbody>
            <% @theme.texts.each do |text|  %>
              <%= link_to  theme_text_path(@theme,text) do %>
                <tr>
                  <td>
                  <%#= cl_image_tag text.user.photo.key, size: "40x40", class: "avatar-bordered" %>
                    <%= link_to  theme_text_path(@theme,text) do %>
                    <%= text.user.name %>
                    <% end %>
                  </td>
                  <td class="text-center correction"><%= text.annotations.present? ? ("<i class='check far fa-check-circle' 'color: '></i>").html_safe : ("<i class='not-check far fa-times-circle'></i>").html_safe %>
                  <td><%= text.grade %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%# </div>    
      </div> %>
      <% end %>    
    </div>
</div>
  









