<div class="container mt-4">
  <h1>Proposta de redação</h1>
   <%= link_to "Minhas propostas", themes_path, class: "a btn btn-primary btn-sm my-2" %>
   <%= link_to "Meus textos", user_texts_path, class: "a btn btn-primary btn-sm my-2" %>
  <br>
  <br>
  <div class="card-theme col-lg-5 mx-2"> 
    <div class="card-lecture-infos mx-2" >
      <h2>Tema do texto:  <%= @theme.title.capitalize %> <h2>
      <h5>Gênero textual: <%= @theme.genre %></h5>
        <div class="row mx-auto d-flex justify-content-space-between">
          <p>Data Inicial: <%= @theme.start_date.strftime("%d/%m/%Y") %></p>
          &nbsp;&nbsp;
          <p>Data final: <%= @theme.end_date.strftime("%d/%m/%Y") %> </p>        
        </div>
     
    <% if current_user.role == "Teacher" || current_user.role == "Professor"  %>
      <ul> 
      <% @theme.texts.each do |text|  %>
        <%= link_to  theme_text_path(@theme,text) do %>
          <li> <%= text.user.name %></li>
        <% end %>
      <% end %>
      </ul>
       <%= link_to "Apagar proposta", theme_url(@theme), method: :delete, class: "a btn btn-light btn-sm mb-2" %>  
       <%= link_to "Editar proposta", edit_theme_url(@theme), class: "a btn btn-info btn-sm mb-2" %>
    <% else%> 
       <div>
        <%= link_to "Enviar texto", new_theme_text_url(@theme, @text), class: "a btn btn-info btn-sm" %> 
        <%= link_to "Baixar proposta", @theme.photo, target: :_blank, class: "btn btn-info btn-sm" %>
       </div>
    <% end %>
    </div>
  </div>
  
    
</div>
