<div class="container mt-4">
  <h2>Minhas propostas</h2>

  <%= link_to "Propostas", themes_path, class: "a btn btn-info bt-sm my-2" %>
       

<br>
<br>
	<div class="">
    <h2>Tema do texto:  <%= @theme.title.capitalize %> <h2>
    <h3>Gênero textual: <%= @theme.genre %></h3>
    <h3>Data de início: <%= @theme.start_date.strftime("%d/%m/%Y") %></h3>
    <h3>Data final de entrega: <%= @theme.end_date.strftime("%d/%m/%Y") %> </h3>

     
    <% if current_user.role == "Teacher" || current_user.role == "Professor"  %>
      <ul> 
      <% @theme.texts.each do |text|  %>
        <%= link_to  theme_text_path(@theme,text) do %>
          <li> <%= text.user.name %></li>
        <% end %>
      <% end %>
      </ul>
       <%= link_to "Editar proposta", edit_theme_url(@theme), class: "a btn btn-primary bt-sm my-2" %>
       <%= link_to "Apagar proposta", theme_url(@theme), method: :delete, class: "a btn btn-primary bt-sm my-2" %>  
    <% else%> 
       <div class="div">
        <%= link_to "Enviar texto", new_theme_text_url(@theme, @text), class: "a btn btn-primary bt-sm my-2" %> 
        <%= link_to "Baixar proposta", @theme.photo, target: :_blank, class: "btn btn-primary" %>
       </div>
    <% end %>
      
  
    
</div>
