<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/lanuza/image/upload/v1607980764/l%C3%A1pis-removebg-preview_qpqrvb.png", {:style => "width:30px;"}%>
    <%="Lápis"%>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Página Inicial", "/", class: "nav-link" %>
        </li>
        <div class="nav-item">
          <%= link_to "Propostas", "/themes", class: "nav-link" %>
        </div>
        <div class="nav-item">
          <% if  current_user.role == "Professor" %>
            <a href="/themes/new" class="btn btn-primary mx-3">
              <i class="fa fa-plus" aria-hidden="true"></i>  Novo tema
            </a>
          <% else %>
            <a href="/user/:id/texts" class="btn btn-primary mx-3">
                Meus textos
            </a>
          <% end %>
        </div>
        <li class="nav-item dropdown">
          <% if current_user %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, size: "40x40", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag("https://www.redditstatic.com/avatars/avatar_default_18_0DD3BB.png", size: "40x40", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)%>
            <%end%>
          <%end%>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Editar perfil", "/users/edit", class: "dropdown-item" %>          
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item active">
          <a href="/users/sign_in" class="btn btn-light mx-1">
            Fazer Login <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
          </a>          
        </li>
        <li class="nav-item">
          <a href="/users/sign_up" type="radio "class="nav-item btn btn-info">Cadastre-se</a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

