
<div class="container mt-4">
  <h1>Meu novo texto</h1>

<%= link_to "Propostas", themes_path, class: "btn btn-primary" %>
<br>
<br>
    <%#= link_to "Voltar para home", root_path, class: "a btn btn-light bt-sm my-2" %>
  <br>
  <br>
  <div class="row">
    
    

    <div class="card-text col-lg-5 mx-2"> 
      <div class="card-text-infos mx-2" >
        <h2><%= @theme.genre.capitalize %>: "<%= @theme.title%>"</h2>
        <div class="row mx-auto d-flex justify-content-space-between">
          <p>Data Inicial: <%= @theme.start_date.strftime("%d/%m/%Y") %></p>
          &nbsp;&nbsp;
          <p>Data final: <%= @theme.end_date.strftime("%d/%m/%Y") %> </p>        
        </div>
        <%= simple_form_for [@theme, @text] do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
            
            <%= f.input :photo, as: :file, label: "Inserir texto" %>
            <br>
          </div>
          <br>
          <div class="form-actions">
            <%= f.button :submit, "Enviar Texto", class: "btn btn-primary btn-md"  %>
          </div>
        <% end %>   
        </div>
      </div>
    </div>
  
  </div>
</div>




<!--
JORNADAS DO ALUNO

JORNADA 1
1) ALUNO VÊ TODAS AS PROPOSTAS (INDEX DAS THEMA)
2) QUANDO ELE CLICA VAI PARA A PROPOSTA ESCOLHIDA (SHOW DAS THEMA)

JORNADA2
1) ELE VÊ A DESCRIÇÃO DA PROPOSTA ESCOLHIDA (COM SEUS DADOS --- SHOW DO THEMA)
2) CLICA NO BOTÃO DE SUBMETER (NEW TEXT)
3) NOTICE: SEU TEXTO FOI ENVIADO

JORNADA 4 (VER CORREÇÃO)
1) VER MEUS TEXTOS  
2) VER INDEX DE TEXTOS (DUAS COLUNAS - ENVIADOS E CORRIGIDOS )
2) CLICA NO TEXTO, ABRE A CORREÇÃO (SHOW DO TEXTO CORRIGIDO - TEXTO.EDIT)

JORNADA 5 (RECORREÇÃO)
1) ?????

-->



</div>

