<nav aria-label="breadcrumb ">
  <ol class="breadcrumb">
    <li class="breadcrumb-item ml-5">
      <a href="/">
        <span class="sr-only">Página inicial</span>
          <i class="icon fas fa-home"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
      <a href="/themes"> Minhas propostas </a>
    </li>
    <% if current_user.role == "Estudante" || current_user.role == "Student" %> 
      <li class="breadcrumb-item">
        <a href="/user/id/texts"> Meus textos </a>
      </li>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page">Nova proposta de texto</li>
  </ol>
</nav>

<div class="container col-12 d-flex mt-n3 pt-3 blue_gray">
    
  <user data-name="<%= current_user.name %>" data-user-id="<%= @owner_id %>" data-role="<%=   current_user.role %>"></user>

  <% if @annotations %>
    <annots class="my_annots" data-text-id="<%= @text_id %>">
      <% @annotations.each do |key, value| %>
        <annot class="annot" style="display:none"
             data-original-id="<%=value[:original_id]%>" 
             data-user-id="<%=value[:user_id]%>"
             data-content="<%=value[:content]%>">
        </annot>
      <% end %>
    </annots>
  <% else %>
    <p id="no_annots">Não há anotações para este documento</p>
  <% end %>
  
  <div id="comment_pop_box"></div>

  <div class="editor_area">
    <div class="tools">
      <div class="row d-block">
        <h6></h6>
      </div>
      <div class="row d-block">
        <div class="tool_name">Desenhar retângulo</div>
        <div class="tool_name">Desenhar polígono</div>
        <div class="tool_name">Ampliar zoom</div>
        <div class="tool_name">Diminuir zoom</div>
        <div class="tool_name">Resetar zoom</div>
      </div>
      <div class="row d-flex justify-content-around ml-1 mr-1">
        <% if current_user.role == 'Teacher' || current_user.role == 'Professor' %>
          <a href="" class="tools_btn" id="tools_rect" title="Desenhar retângulo"><i class="fas fa-vector-square"></i></a>
          <a href="" class="tools_btn" id="tools_polygon" title="Desenhar polígono"><i class="fas fa-draw-polygon"></i></a>
        <% end %>
        <a href="" class="tools_btn" id="tools_zoom_in" title="Aumentar zoom"><i class="fas fa-plus"></i></a>
        <a href="" class="tools_btn" id="tools_zoom_out" title="Diminuir zoom"><i class="fas fa-minus"></i></a>
        <a href="" class="tools_btn" id="tools_zoom_reset" title="Resetar zoom"><i class="fas fa-arrows-alt"></i></a>
      </div>
    </div>
  </div>
  
 

  <div class="image-marking-cointainer">
    <div class="text-image" >
      <% if @text.photo.present? %>
        <div id="img-holder">
          <%= cl_image_tag(@text.photo.key, :transformation=>[
              {:if=>"w_gt_h", :angle=>'90' }], id: "annotable", alt: "Redacao", data: {text_id: "#{@text_id}"}) %>
        </div>
      <% else %>
        <div>
          <p>Redação ainda não enviada</p>
        </div>
      <%end%>
    </div>
  </div>

  <div class="text_info">
    <div class= "card-theme h-auto w-auto p-3"> 
      <div class="grade">
        <h6><%= @text.theme.genre.capitalize %>:</h6>
        <h2>"<%= @text.theme.title.capitalize%>"</h2></h2>
        <% if current_user.role == "Professor" || current_user.role == "Teacher" %>
          <p>Aluno: <%= @text.user.name.capitalize%></p>
          <br>
          <div class="grading">
            <%= render  "grade_form" %>
          </div>
          <hr>
        <%= link_to "Finalizar", theme_path(@text.theme.id), data: { confirm: "Seu texto foi enviado!" }, class: "btn btn-primary px-5" %>
      <% else %>
        <p>Professor: <%= @text.theme.user.name.capitalize %></p>
        <br>
        <hr>
        <div class="grading student">
          <span>Sua nota:</span><h6> <%= @text.grade %></h6>
        </div>
        
        <div class= "justify-content-center">
          <%= link_to "Apagar texto", theme_text_path, method: :delete, 
            data: { confirm: "Atenção! Deseja apagar seu texto?" }, class: "btn btn-outline-danger mt-2" %>
        </div>
      <% end %>
      <hr>
      </div>
    </div>
  
    <hr>
    <% if @annotations %>
      <div class="coments" data-text-id="<%= @text_id %>">
        <h4>Comentários</h4>
        <% @annotations.each do |key, value| %>
          <div class="coment" id="COMENT<%=value[:original_id]%>" data-cmref="<%=value[:original_id]  %>">
            <div class="coment_content"><span class="comment_header">Comentário</span><span   class="comment_text"><%=value[:parsed]['body'][0]['value'] %></span></div>
            <div class="coment_author"><span class="author_header">Professor:</span><span   class="author_name"><%=value[:parsed]['body'][0]['creator']['name'] %></span></div>
          </div>
        <% end %>
      </div>
    <% end %>
    <a href="#"><i class="fas fa-arrow-up"></i></a>

  </div>

</div>



