  <div class="image-marking-cointainer">
    
    <% if @annotations %>
      <annots class="my_annots" data-text-id="<%= @text_id %>">
        <% @annotations.each do |key, value| %>
          <annot class="annot" style="display:none"
              data-original-id="<%=value[:original_id]%>" 
              data-user-id="<%=value[:user_id]%>"
              data-content="<%=value[:content]%>">
          </annot>
        <% end %>
      </annots>
    <% else %>
      <p class="text-danger" id="no_annots">Ainda não há anotações para este documento</p>
    <% end %>
    
    <div class="editor_area">
      <div class="tools">
        <div class="row d-block">
          <h6>Ferramentas</h6>
        </div>
        <div class="row d-block">
          <div class="tool_name">Desenhar retângulo</div>
          <div class="tool_name">Desenhar polígono</div>
          <div class="tool_name">Ampliar zoom</div>
          <div class="tool_name">Diminuir zoom</div>
          <div class="tool_name">Resetar zoom</div>
        </div>
        <div class="row d-flex justify-content-around ml-1 mr-1">
          <% if current_user.role == 'Teacher' || current_user.role == 'Professor' %>
            <a href="" class="tools_btn" id="tools_rect" title="Desenhar retângulo"><i class="fas fa-vector-square"></i></a>
            <a href="" class="tools_btn" id="tools_polygon" title="Desenhar polígono"><i class="fas fa-draw-polygon"></i></a>
          <% end %>
          <a href="" class="tools_btn" id="tools_zoom_in" title="Aumentar zoom"><i class="fas fa-plus"></i></a>
          <a href="" class="tools_btn" id="tools_zoom_out" title="Diminuir zoom"><i class="fas fa-minus"></i></a>
          <a href="" class="tools_btn" id="tools_zoom_reset" title="Resetar zoom"><i class="fas fa-arrows-alt"></i></a>
        </div>
      </div>
    </div>
 
  <div class="text-image" >
    <% if @text.photo.present? %>
      <div id="img-holder">
        <%= cl_image_tag(@text.photo.key, :transformation=>[
            {:if=>"w_gt_h", :angle=>'90' }], id: "annotable", alt: "Redacao", data: {text_id: "#{@text_id}"}) %>
      </div>
    <% else %>
      <div>
        <p>Redação ainda não enviada</p>
      </div>
    <%end%>
  </div>

  <div class="options">
    
    <div id="comment_pop_box"></div>
    
    <user data-name="<%= current_user.name %>" data-user-id="<%= @owner_id %>" data-role="<%=   current_user.role %>"></user>

    <% if @annotations %>
      <annots class="my_annots" data-text-id="<%= @text_id %>">
        <% @annotations.each do |key, value| %>
          <annot class="annot" style="display:none"
               data-original-id="<%=value[:original_id]%>" 
               data-user-id="<%=value[:user_id]%>"
               data-content="<%=value[:content]%>">
          </annot>
        <% end %>
      </annots>
    <% else %>
      <p id="no_annots">Não há anotações para este documento</p>
    <% end %>

    <% if current_user == @text.user %>
      <h6>Seu texto para o tema:</h6>
    <% else %>
      <h6>Texto de <%= @text.user.name  %> para o tema:</h6>
    <% end %>

    <h1><%= @text.theme.title %></h1>
    <p>Gênero: <%= @text.theme.genre %></p>
    <p>Proposto por: <%= @text.theme.user.name %></p>
  
    <% if current_user.role != "Professor" %>
      <%= link_to "Apagar texto", theme_text_path, method: :delete, 
        data: { confirm: "Atenção! Deseja apagar seu texto?" }, class: "btn btn-outline-danger mt-2" %>
    <% else %>
      <%= link_to "Salvar Correção", theme_path(@text.theme.id), data: { confirm: "Seu texto foi enviado!" }, class: "btn btn-primary px-5" %>
    <% end %>

    <% if @annotations %>
      <div class="coments" data-text-id="<%= @text_id %>">
        <h4>Comentários</h4>
        <% @annotations.each do |key, value| %>
          <div class="coment" id="COMENT<%=value[:original_id]%>" data-cmref="<%=value[:original_id]  %>">
            <div class="coment_content"><span class="comment_header">Comentário</span><span   class="comment_text"><%=value[:parsed]['body'][0]['value'] %></span></div>
            <div class="coment_author"><span class="author_header">Professor:</span><span   class="author_name"><%=value[:parsed]['body'][0]['creator']['name'] %></span></div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="grade">
      <h1><%= @text.theme.genre.capitalize %>: <%= @text.theme.title.capitalize %></h1>
      <p>Tema proposto por: <%= @text.theme.user.name %></p>
      <% if current_user.role == "Professor" || current_user.role == "Teacher" %>
        <%= render  "grade_form" %>
      <% end %>
      <% if current_user.role == "Estudante" || current_user.role == "Student" %>
      <h6>Sua nota: <%= @text.grade %></h6>
      <% end %>
    </div>
      

    <%= link_to 'Voltar', :back %>
    <a href="#"><i class="fas fa-arrow-up"></i></a>
  </div>


</div>





